{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Détails de l'Utilisateur</h1>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th>Rôles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
            </tbody>
        </table>

        <div class="text-center mt-3">
            <a href="{{ path('app_admin_user_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
