<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/logo.jpg') }}">

 
        <style>
            body {
                background-image: url('{{ asset('image/fond5.jpg') }}');
                background-size: cover;   
                background-position: center; 
                background-attachment: fixed;
                background-repeat: no-repeat; 
                height: 100vh; 
                margin: 0; 
            }

            .container {
                background-color: rgba(255, 255, 255, 0.8); 
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
        </style>

        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <link href="{{ asset('styles/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        {% include 'navbar.html.twig' %}

        {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
        {% endfor %}

        {% block body %}
        <div class="container text-center mt-5">
            <h1 class="display-3 fw-bold text-primary">Orwell : La Ferme des Animaux</h1>
            <p class="lead text-secondary mt-3">
                Vente de matériel et d'animaux pour entreprises et particuliers.
            </p>
        </div>
        {% endblock %}
    </body>
</html>
