<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('home') }}">Orwell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_login') }}">Login <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('product_list') }}">Produits <span class="sr-only"></span></a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_admin_product_index') }}">Gestion Produit<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_admin_user_index') }}">Gestion Admin<span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('dashboard') }}">Dashboard<span class="sr-only"></span></a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <li class="nav-item active">
                    <a href="{{ path('cart_index') }}" class="nav-link">Accéder au panier</a>
                </li>
                <li class="nav-item active">
                    <a href="{{ path('credit_card_index') }}" class="nav-link">Carte de crédit</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>